.qrcode_main {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: center;
	justify-content: space-between;
	align-items: center;
	padding: 15px 30px;
	background: url("../public/img/ic_bili_column_background_screen_shot_bottom.png");
}

.qrcode_main p {
	margin-top: 5px;
	margin-bottom: 0;
}

/*---------- video_qrcode css ------------*/
.right {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.qrcode-right-text {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-end;
	margin-right: 10px;
}

.qrcode-right-text span {
	color: var(--Ga7);
}